<div class="col-lg-12 col-md-14 mx-auto">
<div class="bg-faded p-4 my-4">
<input id="tab1" type="radio" name="tabs" checked>
<label for="tab1">Books</label>

<input id="tab2" type="radio" name="tabs">
<label for="tab2">Characters</label>

<input id="tab3" type="radio" name="tabs">
<label for="tab3">Houses</label>


<section id="content1">
<books-data></books-data>
</section>

<section id="content2">
  <characters-data></characters-data>
</section>

<section id="content3">
<houses-data></houses-data>
</section>
</div>
</div>
